global !p
def expand(snip, jump_pos=1):
    if snip.tabstop != jump_pos: return
    vim.eval('feedkeys("\<C-R>=UltiSnips#ExpandSnippet()\<CR>")')
endglobal

snippet <details> "Template for <details> tag" b
<details>
<summary>$1</summary>

\`\`\`$2
${VISUAL}
\`\`\`

</details>
endsnippet
post_jump "expand(snip)"
snippet __github_foldable "Alias for <details>" b
<details>$1
endsnippet
