# Snippets

snippet import{} "Curly import" b
import { $2 } from "$1"
$0
endsnippet

snippet import "Curly import" b
import $2 from "$1"
$0
endsnippet

snippet () "Arrow Function"
($2) => { $1$0 }
endsnippet
