# Snippets

snippet import{} "Curly import" b
import { $2 } from "$1"
$0
endsnippet

snippet import "Curly import" b
import $2 from "$1"
$0
endsnippet

snippet () "Arrow Function" i
($2) => { ${1:${VISUAL}}$0 }
endsnippet

# Omit new to fit with nvim-cmp
snippet 'new Promise' "Template for new promise"
Promise((resolve, reject) => {${0:${VISUAL}}})
endsnippet
