# Shared Function

global !p
def getFileName(default='untitled'):
	return snip.basename or default
endglobal

# Snippets

snippet class "Autofill classname with filename"
class ${1:`!p snip.rv = getFileName()`} {
	$0
}
endsnippet

snippet enum "Autofill enum name with filename" b
enum ${1:`!p snip.rv = getFileName()`} {
	$0
}
endsnippet

snippet _class_main "Class with main method"
class ${1:`!p snip.rv = getFileName()`} {
	public static void main(String[] args){
		$0
	}
}
endsnippet

