global !p
def snake_to_upper_camel_case(s: str) -> str:
	return ''.join([ x.title() for x in s.split('_')])
endglobal

snippet __rust_yew_new "Template for new yew file" b
use yew::prelude::*;

#[function_component(`!p snip.rv = snake_to_upper_camel_case(t[1])`)]
pub fn ${1:component}() -> Html {
	$0
}
endsnippet

snippet __rust_yew_function_component "New function component" b
#[function_component(`!p snip.rv = snake_to_upper_camel_case(t[1])`)]
fn ${1:component}() -> Html {
	$0
}
endsnippet
