snippet snippet "Snippet definition" b
`!p snip.rv = "snippet"` ${2:Tab_trigger} "${3:Description}" ${4:b}
${0:${VISUAL}}
`!p snip.rv = "endsnippet"`
endsnippet

snippet global "Global definition" b
global !p
${0:${VISUAL}}
endglobal
endsnippet

# Omit last ` because autoclose expected
snippet `!p "Code"
\`!p snip.rv = ${1:t[1]}
endsnippet

snippet $ "Parameterize text"
\${${1:1}${2::${VISUAL:}}}
endsnippet
