snippet resource "Create new resource"
resource "$1" "$2" {
	$0
}
endsnippet

snippet variable "Create input variable" b
variable "$1" {
	type    = ${2:string}
	${3:default = ${4:"default"}}
}

endsnippet

snippet data "Create new data" b
data "$1" "$2" { $0}
endsnippet

snippet output "Create output variable" b
output "$1" {
	value = $2
}
endsnippet
