# For jumping ./typescript.snippets
extends typescript

snippet temp_react_new_material_component "New component created with material UI" b
import React from 'react'
import {makeStyles} from '@material-ui/core'

type $1Props = {

}

const $1Style = makeStyles(() => ({
}))

const ${1:Foo} = (props: $1Props) => {
	const styles = $1Style()

	return (
		${2:<>$0</>}
	)
}

export default $1
endsnippet
