# Snippets

snippet if "If statement" b
if ${1:expr}
	${2:# if expr is true}
endif
endsnippet

snippet temp_fold "Fold for vim" b
" ${1} `!p snip.rv = "-" * (70 - len(t[1]))` {{{
${0:${VISUAL}}
" }}}
endsnippet

snippet temp_vim_test "Setup for vimtest" b
let test#${1:<language>}#runner = '${2:<runner>}'
${3:let test#$1#$2#executable = '${4:path/to/executable}'}
endsnippet
